@inject IOptionsSnapshot<AppSettings> AppSettings
@inject IHostingEnvironment HostingEnvironment
<!DOCTYPE html>
@* lang - The language of the page. *@
<html lang="en-au" dir="ltr">
<head asp-open-graph-prefix="true">
    @* The order of the tags in the head is important for best performance and compatibility. *@
    @* charset - The character encoding of the document. *@
    <meta charset="utf-8">
    @* viewport - Set the scale on mobile devices (For more info see https://developer.mozilla.org/en/docs/Mozilla/Mobile/Viewport_meta_tag). *@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
        characters. The site name appears at the end for better SEO. *@
    <title>@ViewBag.Title - @AppSettings.Value.SiteTitle</title>

    @* favicons generated with https://realfavicongenerator.net *@
    @Html.Partial("_Favicons")

    @* Move site.css to a content delivery network (CDN) for better performance. *@
    <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/print.css" media="print" />

    @* Description - Used by search engines. Aim for more than 160 characters. *@
    <meta name="description" content="@ViewBag.Description">

    @* Atom 1.0 Feed - Link to the. This enables the 'Subscribe to this page' button in FireFox. *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetFeed)" rel="alternate" title="@AppSettings.Value.SiteTitle Feed" type="application/atom+xml">

    @* OpenSearch - (See http://www.hanselman.com/blog/CommentView.aspx?guid=50cc95b1-c043-451f-9bc2-696dc564766d and http://www.opensearch.org) *@
    <link href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')" rel="search" title="@AppSettings.Value.SiteTitle Search" type="application/opensearchdescription+xml">

    @* Add Twitter Card social meta tags so we can customize what happens when our page is shared on Twitter. *@
    <meta name="twitter:card" content="summary" />
    @*<meta name="twitter:site" content="@@flickr" />*@
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@ViewBag.Description" />
    @*<meta name="twitter:image" content="" />
        <meta name="twitter:image:alt" content=""/>*@
    @* referrer - Controls what is sent in the HTTP referrer header when a client navigates to an external site. *@
    <meta asp-referrer="None">

    @* You can use the head section to render additional meta tags. *@
    @RenderSection("head", required: false)

    <script asp-append-version="true" src="~/js/site.js" defer async></script>
</head>
<body>
    @* Skip to main content link for people who use screen readers. sr-only makes this only visible to screen readers.
        See http://a11yproject.com/posts/skip-nav-links/. *@
    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
    @* nav - The main navigation for the site. *@
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container" role="banner">
            <div class="navbar-header">
                <a asp-route="@HomeControllerRoute.GetIndex" class="navbar-brand">@Html.Emoji(Emoji.WhiteStar) @AppSettings.Value.SiteTitle</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-route="@HomeControllerRoute.GetAbout">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-route="@HomeControllerRoute.GetContact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-route="@HomeControllerRoute.GetFeed">RSS</a>
                    </li>
                </ul>
                <form action="@Url.RouteUrl(HomeControllerRoute.GetSearch)" class="form-inline" method="get" role="search">
                    <div class="input-group">
                        <input aria-label="Search" class="form-control" maxlength="2048" name="query" placeholder="Search" title="Search" type="text">
                        <div class="input-group-append">
                            <button aria-label="Search" class="btn btn-light" type="submit">@Html.Emoji(Emoji.MagnifyingGlass)</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <main id="main" class="container body-content">
        @Html.SvgPicture("loading", "", 200, 200, "loading-indicator", "loading-indicator")
        <div class="alert alert-warning outdated-warning" role="alert">
            <p>
                Your browser is several years old. Browsers must be regularly updated to fix security and performance issues.
                Please <a class="alert-link" rel="external" href="http://outdatedbrowser.com/">upgrade your browser</a>
                to improve your experience.
            </p>
        </div>
        <div id="update" class="alert alert-info" role="alert" hidden>
            <a class="alert-link">Updates for this page are availible.</a>
        </div>
        <div id="main-content">
            @RenderBody()
        </div>        
        <hr>
        <footer>
            <p>&copy; @DateTime.Now.Year - @AppSettings.Value.SiteTitle</p>
            <p>Page generated <time datetime="@DateTime.UtcNow.ToString("s")">@DateTime.Now.ToString("F") @TimeZoneInfo.Local.StandardName</time></p>
        </footer>
    </main>
</body>
</html>