@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "A professional ASP.NET Core project template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code required on top of the default ASP.NET Core project template provided by Microsoft.";
}

<script type="application/json" id="td">{"title": "@ViewBag.Title", "description": "@ViewBag.Description"}</script>
<header class="mt-2">
    <h1>@Html.Emoji(Emoji.House) @ViewBag.Title</h1>
</header>
<p>@ViewBag.Description</p>
<div class="row">
    <article class="col-md-8">
        <h2>@Html.Emoji(Emoji.BlankDocument) This App Contains</h2>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li><a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><strong>@Url.RouteUrl(HomeControllerRoute.GetIndex)</strong></a> - This index page.</li>
                    <li><a href="@Url.RouteUrl(HomeControllerRoute.GetAbout)"><strong>@Url.RouteUrl(HomeControllerRoute.GetAbout)</strong></a> - An about us page.</li>
                    <li><a href="@Url.RouteUrl(HomeControllerRoute.GetContact)"><strong>@Url.RouteUrl(HomeControllerRoute.GetContact)</strong></a> - A contact us page.</li>
                    <li><a href="@Url.RouteUrl(HomeControllerRoute.GetFeed)"><strong>@Url.RouteUrl(HomeControllerRoute.GetFeed)</strong></a> - An @Html.Link("https://en.wikipedia.org/wiki/Atom_%28standard%29", "Atom 1.0") feed.</li>
                    <li><a href="@Url.RouteUrl(HomeControllerRoute.GetRobotsText).TrimEnd('/')"><strong>@Url.RouteUrl(HomeControllerRoute.GetRobotsText).TrimEnd('/')</strong></a> - @Html.Link("http://en.wikipedia.org/wiki/Robots_exclusion_standard", "Robots text").</li>
                    <li><a href="~/humans.txt"><strong>/humans.txt</strong></a> - @Html.Link("http://humanstxt.org", "Humans text").</li>
                    <li><a href="@Url.RouteUrl(HomeControllerRoute.GetSitemapXml).TrimEnd('/')"><strong>@Url.RouteUrl(HomeControllerRoute.GetSitemapXml).TrimEnd('/')</strong></a> - @Html.Link("http://www.sitemaps.org/protocol.html", "Site-map XML").</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><!--wmm:ignore--><a href="@Url.RouteUrl(ErrorControllerRoute.GetError, new { statusCode = 404, status = "notfound" })"><strong>@Url.RouteUrl(ErrorControllerRoute.GetError, new { statusCode = 404, status = "notfound" })</strong></a><!--/wmm:ignore--> - Error page.</li>
                    <li><a href="/browserconfig.xml"><strong>/browserconfig.xml</strong></a> - @Html.Link("http://www.buildmypinnedsite.com", "Windows 8.1/10 Icons").</li>
                    <li><a href="/maifest.json"><strong>/maifest.json</strong></a> - @Html.Link("https://developer.chrome.com/multidevice/android/installtohomescreen", "Android/Chrome Icons").</li>
                </ul>
            </div>
        </div>
    </article>
    <article class="col-md-4">
        <header>
            <h2>@Html.Emoji(Emoji.LinkSymbol) ASP.NET Core Boilerplate</h2>
        </header>
        <p>Find out more about how the @Html.Link("https://github.com/ASP-NET-Core-Boilerplate/Templates/wiki/Getting-Started-Guide", "ASP.NET Core Boilerplate") project template was put together and what features it includes out of the box. Read the @Html.Link("https://github.com/ASP-NET-Core-Boilerplate/Templates/blob/master/Source/Boilerplate.Vsix/Release%20Notes.txt", "release notes") to find out what updates are made to the project template and see the @Html.Link("https://github.com/ASP-NET-Core-Boilerplate/Templates/projects", "To-Do list") to view a list of features that will be added in the future.</p>
    </article>
</div>

<div class="row">
    <article class="col-md-4">
        <h2>@Html.Emoji(Emoji.Newspaper) New Concepts</h2>
        <ul>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkId=518016", "What's new in ASP.NET Core")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkId=518008", "The 'wwwroot' explained")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkId=518012", "Configuration in ASP.NET Core")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkId=518013", "Dependency Injection")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkId=518014", "Razor TagHelpers")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517849", "Manage client tasks using Gulp")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517850", "Develop on different platforms")</li>
        </ul>
    </article>
    <article class="col-md-4">
        <h2>Customize App</h2>
        <ul>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=398600", "Add Controllers and Views")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=398602", "Add Data using EntityFramework")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=398603", "Add Authentication using Identity")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=398606", "Add real time support using SignalR")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=398604", "Add Class library")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517848", "Add client packages using Bower")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517849", "Manage client packages using Grunt")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517850", "Develop on different platforms")</li>
        </ul>
    </article>
    <article class="col-md-4">
        <h2>Run & Deploy</h2>
        <ul>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517851", "Run your app locally")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517852", "Run your app on ASP.NET Core")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=517853", "Run commands defined in your project.")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkID=398609", "Publish to Microsoft Azure Web Sites")</li>
            <li>@Html.Link("http://go.microsoft.com/fwlink/?LinkId=518019", "Publish to the file system")</li>
        </ul>
    </article>
</div>

<div class="row">
    <article class="col-md-4">
        <header>
            <h2>@Html.Emoji(Emoji.FileCabinet) npm</h2>
        </header>
        <p>@Html.Link("https://www.npmjs.com/", "npm") is a package manager and is used to get Gulp and also Gulp tasks among other things.</p>
    </article>
    <article class="col-md-4">
        <header>
            <h2>@Html.Emoji(Emoji.BeerMug) Gulp</h2>
        </header>
        <p>@Html.Link("http://gulpjs.com/", "Gulp") is a task runner that can execute various build tasks and can be used for bundling and minifying your scripts among other things.</p>
    </article>
</div>

<div class="row">
    <article class="col-md-4">
        <header>
            <h2>@Html.Emoji(Emoji.MobilePhone) Bootstrap</h2>
        </header>
        <p>@Html.Link("http://getbootstrap.com/getting-started/", "Bootstrap") is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web and is used for theming this site.</p>
    </article>
    <article class="col-md-4">
        <header>
            <h2>@Html.Emoji(Emoji.Lock) NWebsec</h2>
        </header>
        <p>@Html.Link("https://github.com/NWebsec/NWebsec", "NWebsec") makes securing your ASP.NET Core site easy with a handful of simple attributes you can add to your global filters, controllers or actions.</p>
    </article>
    <article class="col-md-4">
        <header>
            <h2>@Html.Emoji(Emoji.Scroll) HTML5</h2>
        </header>
        <p>@Html.Link("http://en.wikipedia.org/wiki/HTML5", "HTML5") is a core technology markup language of the Internet used for structuring and presenting content for the World Wide Web.</p>
    </article>
</div>
